.navigation-mobile {
	display: none;
}
a {
	text-decoration: none;
	color: #1e1e23;
	opacity: 1;
	font-family: 'work sans', sans serif;
	font-size: 1.5em;
	font-weight: 400;
	transition: 200ms;
}
a:hover {
	opacity: 0.5;
}
ul {
	padding: 0;
	list-style-type: none;
}

.container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.phone {
	background-color: #36383f;
	border-radius: 40px;
	width: 300px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 30px 50px 100px #85888c;
}
.content {
	border: 1px solid #36383f;
	border-radius: 20px;
	width: 94%;
	height: 91%;
	background-color: #f5f6fa;
	overflow: hidden;
}
nav {
	background-color: #1e1e23;
	height: 65px;
}

#menuToggle {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 25px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	align-items: end;
	right: 25px;
}

#menuToggle input {
	display: flex;
	width: 40px;
	height: 32px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}

#menuToggle span {
	display: flex;
	width: 29px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 5px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-3px, -1px);
	background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 180px;
	height: 400px;
	box-shadow: 0 0 10px #85888c;
	margin: -50px -50px 0 0;
	padding: 50px;
	padding-top: 125px;
	background-color: #f5f6fa;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px 0;
	transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
	transform: none;
}
.photo-gallery-page-main-block-slider-line {
	margin: 0 0 0 40px;
}
.planning-page-main-block-slider
	.page-9-custom-slider
	.page-9-custom-slider-main
	#main_image {
	width: 100%;
	max-width: 860px;
}
.about-page-fourth-block-wrap-inner-item {
	margin-left: 30px;
}




/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #FEFAF0; /* Fallback color */
	background-color: #FEFAF0; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-top: 30px;
	padding-right: 30px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* 1200 */
@media (max-width: 75em) {
	.planning-page-main-block-top-left-top a {
		width: 125px;
		padding: 8px 0;
	}

	.main-page-content-title h1 {
		font-size: 36px;
		line-height: 50px;
	}

	.page-2-img .page-2-img-wrap img,
	.page-3-img .page-3-img-wrap img {
		height: 430px;
	}
	.about-page-second-block-left {
		max-width: 470px;
	}
	.about-page-second-block-left-title h2 {
		margin-bottom: 111px;
	}
	.about-page-thrid-block-wrap-right img {
		max-width: 430px;
	}
	.about-page-thrid-block-wrap-left img {
		max-width: 330px;
	}
	.page-11-wrapper-map-block,
	.page-10-wrapper-map-block {
		width: 42.25rem;
	}

	.page-left {
		height: 100%;
	}
	.page-10-wrapper-desc,
	.page-11-wrapper-desc {
		height: 75%;
	}
	.page-9-desc-items {
		margin-right: 20px;
		max-width: 380px;
	}
	.page-9-custom-slider-main #main_image {
		width: 410px;
	}
	.page-8-wrapper-top h3 {
		font-size: 24px;
		line-height: 36px;
	}
	.cover-arr {
		height: auto;
	}
	.logo {
		position: absolute;
		top: 20px;
		left: 15px;
	}
}
/* 992 */
@media (max-width: 62em) {
	.logo {
		display: none;
	}
	.header-menu-list {
		margin-right: 5.72%;
	}
	.planning-page-main-block-top-wrap {
		flex-direction: column;
	}
	.planning-page-main-block-top-right-wrap {
		align-items: baseline;
	}
	.planning-page-main-block-top-right {
		border-left: none;
	}
	.planning-page-main-block-body {
		padding: 0 20px;
	}
	.contacts-page-main-map-block-title h2 {
		margin-bottom: 65px;
		font-size: 30px;
	}
	.about-page-second-block-right img {
		display: none;
	}
	.about-page-second-block-left {
		max-width: 100%;
		margin: auto;
	}
	.about-page-thrid-block-wrap {
		flex-direction: column-reverse;
		align-items: center;
		row-gap: 20px;
	}
	.about-page-fourth-block-wrap-inner {
		flex-direction: column;
		padding: 0 20px;
		align-items: center;
	}
	.about-page-fourth-block-title h2 {
		text-align: center;
		margin: 0 auto 30px auto;
	}
	.about-page-fifth-block-heading {
		margin-bottom: 70px;
	}
	.about-page-fifth-block-grid-news {
		row-gap: 70px;
		column-gap: 40px;
	}
	.about-page-fifth-block {
		padding-bottom: 115px;
	}
	.about-page-second-block-wrap,
	.about-page-thrid-block {
		padding-bottom: 100px;
	}
	.about-page-fourth-block-wrap {
		height: auto;
	}
	.about-page-seven-block-title h2 {
		margin-top: 40px;
	}
	.page-10-wrapper,
	.page-11-wrapper {
		flex-direction: column-reverse;
		align-items: baseline;
	}
	.page-11-wrapper-desc {
		width: 100%;
	}
	.page-11-wrapper-map {
		width: 100%;
		padding: 0 20px;
	}
	.page-11-wrapper-map-block {
		width: 100%;
	}
	.page-11-wrapper-map-block img {
		width: 100%;
	}
	.page-11-wrapper-desc-list {
		padding-top: 150px;
	}
	.page-left {
		height: auto;
	}
	.page-11-wrapper {
		height: 100%;
	}
	.page-8-wrapper-top h3 {
		font-size: 24px;
		line-height: 38px;
	}
	.page-9 {
		height: auto;
	}
	.page-9-wrapper {
		flex-direction: column;
		align-items: center;
	}
	.page-9-custom-slider {
		flex-direction: column;
	}
	.page-9-custom-slider-small {
		flex-direction: row;
		column-gap: 20px;
		margin-left: 0;
	}

	.scroll-right-content-wrap {
		width: 100%;
		height: auto;
		flex-wrap: wrap;
	}
	.page-2-img .page-2-img-wrap img,
	.page-3-img .page-3-img-wrap img {
		display: none;
	}
	.page-2-desc {
		max-width: 100%;
	}
	.page-10{
		display: none;
	}
	.scroll-left-content-wrap{
		width: 100%;
	}
}

/* 768 */
@media (max-width: 48em) {
	.page-2-desc-inner-body-item:first-child,
	.page-2-desc-inner-title h3{
		border: none;
	}
	.page-2-desc-inner-body-item{
		padding: 20px;
	}
	.page-2-desc-inner-body{
		flex-direction: column;
	}
	.scroll-left-content-wrap{
		height: auto;
	}
	.page-3-desc {
    right: 28.77%;
}
	.page-3-img-right-wrap{
		display: none;
	}
	.bg-flower {
    left: 23%;
}
	.page-10-wrapper-desc,
	.page-11-wrapper-desc {
		display: none;
	}
	.page-9-desc-items {
		max-width: 100%;
	}
	.page-9-custom-slider {
		flex-direction: column;
		width: 100%;
	}

	.about-page-fourth-block-wrap-inner-content {
		width: 100%;
	}
	.about-page-banner-text {
		bottom: auto;
		height: auto;
		top: 40%;
	}
	.about-page-banner::after,
	.about-page-banner::before {
		display: none;
	}
	.about-page-header {
		display: none;
	}
	.navigation-mobile {
		display: block;
		z-index: 999;
		position: relative;
	}
	.filter-item-top,
	.filter-item-bottom {
		flex-direction: column;
		align-items: baseline;
	}
	.filter-item-bottom-item-body {
		flex-direction: column;
		align-items: baseline;
		row-gap: 20px;
	}
	.choosing-apartment-response-body {
		overflow: scroll;
	}
	.choosing-apartment-response-body table {
		min-width: 700px;
	}
	.logo-transparent {
		display: none;
	}
	.header-menu {
		display: none;
	}
	.mobile-logo .logo-transparent-mobile {
		width: 100%;
		max-width: 43px;
		position: absolute;
		top: 3px;
		left: 15px;
	}
	.choosing-apartment-title,
	.photo-gallery-page-main-block-title {
		margin-bottom: 45px;
		margin-top: 45px;
	}
	.choosing-apartment-title h2,
	.photo-gallery-page-main-block-title h2 {
		font-size: 45px;
		margin-bottom: 0;
	}
	.planning-page-main-block-top-right-wrap-btn a {
		width: 220px;
		margin-top: 20px;
	}
	.planning-page-main-block-top {
		margin: 0 20px;
	}
	.page-9-custom-slider-main #main_image {
		width: 100%;
	}
	.contacts-page-main-map-block-address {
		flex-direction: column;
		margin-left: 30px;
	}
	.contacts-page-main-map-block {
		padding-top: 25px;
	}
	.logo-yellow {
		display: none;
	}
	.main-page-content-footer,
	.main-page-content-footer-address {
		flex-direction: column;
		align-items: baseline;
	}
	.about-page-second-block-left {
		padding: 20px;
	}
	.about-page-second-block-left-title h2 {
		margin-bottom: 25px;
	}
	.about-page-second-block-left-bottom {
		flex-direction: column;
		align-items: baseline;
		margin-top: 15px;
	}
	.about-page-second-block-left-bottom span {
		margin-bottom: 15px;
	}
	.about-page-thrid-block-wrap {
		margin: 0 20px;
	}
	.about-page-fifth-block-heading {
		flex-direction: column;
		margin-bottom: 30px;
	}
	.about-page-fifth-block-grid-news {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}
	.about-page-sixth-block-title h2 {
		margin: 0 auto 30px auto;
		text-align: center;
	}
	.about-page-seven-block-title h2 {
		padding: 0;
		margin: 30px auto 30px auto;
		text-align: center;
	}
	.about-page-seven-block-wrap-download-item-left img {
		width: 40px;
		height: 40px;
		margin-right: 15px;
	}
	.about-page-seven-block-wrap-download-item-right a img {
		margin-left: 10px;
		width: 20px;
		height: 20px;
	}
	.about-page-seven-block-wrap-download-item-right a {
		font-size: 12px;
	}
	.main-page-content-title h1 {
		font-size: 25px;
		line-height: 39px;
	}
	.page-8-wrapper-top {
		flex-direction: column;
		align-items: baseline;
		margin-left: 40px;
		row-gap: 25px;
	}
	.page-9-wrapper {
		padding: 40px 20px;
	}
}
