*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	overflow-y: scroll;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body {
	overflow-y: visible;
	position: relative;
	height: unset;
}
html,
body {
	overflow-x: hidden;
	margin: 0;
}

.scroll-right-content-wrap {
	width: 600%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}
.scroll-left-content-wrap {
	width: 200%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.page,
.page-right,
.page-left {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-2,
.page-3,
.page-4,
.page-5,
.page-6,
.page-7 {
	position: relative;
}
.page-2,
.page-3 {
	background-color: #fefaf0;
}
.page-8,
.page-9 {
	position: relative;
	background-color: #fefaf0;
}
.page-10,
.page-11 {
	position: relative;
	background-color: #fefaf0;
}
.page-12 {
	position: relative;
}

.page-1 .page-1-bg {
	position: relative;
	background-image: url(images/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}

.page-5 .page-5-bg {
	background-image: url(images/005.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page-6 .page-6-bg {
	background-image: url(images/006.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page-7 .page-7-bg {
	background-image: url(images/007.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page-5-bg,
.page-6-bg,
.page-7-bg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-5-discription,
.page-6-discription,
.page-7-discription {
	max-width: 41.875rem;
}

.page-5-discription h2,
.page-6-discription h2,
.page-7-discription h2 {
	text-align: center;
	margin: 0 0 0.16em 0;
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Panama Demo;
	font-size: 6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}
.page-5-discription p,
.page-6-discription p,
.page-7-discription p {
	text-align: center;
	margin: 0;
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.16rem;
	letter-spacing: -0.01em;
}

.logo {
	position: absolute;
	top: 40px;
	left: 27px;
}

.page-4-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.page-4-image-block {
	width: 57%;
	height: 100%;
	background-image: url(images/half.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.page-4-description-block {
	width: 43%;
	background: var(--D0B16F, #d0b16f);
}

.page-4-description-block-desc {
	max-width: 28.625rem;
	margin-top: auto;
}
.page-4-description-block-desc h5 {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.01em;
	/* margin-bottom: 16px; */
	margin-bottom: 0.88em;
}
.page-4-description-block-desc h3 {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Panama Demo;
	/* font-size: 64px; */
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 72px; */
	line-height: 1.125;
	/* letter-spacing: -1.28px; */
	letter-spacing: -0.02em;
	text-transform: uppercase;
	/* margin-bottom: 8px; */
	margin-bottom: 0.125em;
}
.page-4-description-block-desc p {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
}
.page-4-description-block-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.page-4-description-block-link-wrap {
	position: relative;
	width: 14.875rem;
	margin-top: auto;
	margin-bottom: 3.55em;
}
.page-4-description-block-link-btn a {
	/* margin-top: auto; */
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
	text-decoration-line: underline;
}
.page-4-description-block-link-btn a img {
	padding: 12px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: -20%;
}
.page-10-wrapper {
	width: 100%;
	height: 68.88vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-10-wrapper-map {
	width: 73%;
	padding-right: 20px;
}
.page-10-wrapper-map-block {
	width: 48.25rem;
	height: 57.41%;
	margin-left: auto;
}
.page-10-wrapper-desc {
	padding-left: 20px;
	width: 27%;
	height: 100%;
}
.page-10-wrapper-desc-wrap {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.page-10-wrapper-desc-list {
	padding-top: 24px;
}
.page-10-wrapper-desc-list ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 28px; */
	line-height: 1.55;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
	column-gap: 0.88em;
}
.page-10-wrapper-desc-list ul li {
	margin-bottom: 1.33em;
}
.page-10-wrapper-desc-address {
	max-width: 15.27rem;
}
.page-10-wrapper-desc-address h5 {
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 28px; */
	line-height: 1.55;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
}

.page-11-wrapper {
	width: 100%;
	height: 68.88vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-11-wrapper-map {
	width: 73%;
	padding-right: 20px;
	box-sizing: border-box;
}
.page-11-wrapper-map-block {
	width: 56.25rem;
	height: 57.41%;
	margin-left: auto;
}
.page-11-wrapper-desc {
	padding-left: 20px;
	width: 27%;
	height: 100%;
	box-sizing: border-box;
}
.page-11-wrapper-desc-wrap {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.page-11-wrapper-desc-list {
	padding-top: 24px;
}
.page-11-wrapper-desc-list ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 28px; */
	line-height: 1.55;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
	column-gap: 0.88em;
}
.page-11-wrapper-desc-list ul li {
	margin-bottom: 1.33em;
}
.page-11-wrapper-desc-address {
	max-width: 15.27rem;
}
.page-11-wrapper-desc-address h5 {
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 28px; */
	line-height: 1.55;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
}
.page-2-img .page-2-img-wrap,
.page-3-img .page-3-img-wrap {
	height: 100vh;
}
.page-2-img .page-2-img-wrap img {
	height: 604px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}
.page-3-img .page-3-img-wrap img {
	height: 604px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}
.page-3-img-right-wrap {
	display: flex;
	position: absolute;
	right: 2.78%;
	top: 50%;
	transform: translate(0, -50%);
}
.page-3-img-right-wrap img:first-child {
	height: 320px;
	margin-right: 20px;
}
.page-3-img-right-wrap img:nth-child(2) {
	height: 604px;
}
.page-3-desc {
	max-width: 18.75rem;
	position: absolute;
	top: 53.78%;
	right: 58.77%;
}
.page-3-desc-wrap h3 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	/* font-size: 40px; */
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 46px; */
	line-height: 1.15;
	/* letter-spacing: -0.8px; */
	letter-spacing: -0.02em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.page-3-desc-wrap p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
}

.bg-flower {
	position: absolute;
	top: 1.79%;
	left: 6.72%;
}

.page-2-wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.page-2-desc {
	max-width: 46.53%;
	position: absolute;
	top: 176px;
	left: 40px;
}

.page-2-desc-inner-title h3 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	/* font-size: 40px; */
	font-size: 2.5rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 46px; */
	line-height: 1.15;
	/* letter-spacing: -0.8px; */
	letter-spacing: -0.02em;
	text-transform: uppercase;
	padding-bottom: 1.6em;

	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}

.page-2-desc-inner-body {
	display: flex;
	justify-content: space-around;
}
.page-2-desc-inner-body-item:first-child {
	border-right: 1px solid rgba(47, 47, 47, 0.1);
	padding-right: 30px;
}
.page-2-desc-inner-body-item:nth-child(2) {
	padding-left: 20px;
}
.page-2-desc-inner-body-item {
	height: 25.55%;
	padding-top: 4.78em;
}
.page-2-desc-inner-body .page-2-desc-inner-body-item p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
}
.page-3-description-block-link-btn a {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
	text-decoration-line: underline;
}
.page-3-description-block-link-btn {
	position: relative;
	width: 14.875rem;
	margin-top: auto;
	margin-top: 4.7rem;
}
.page-3-description-block-link-btn a {
	/* margin-top: auto; */
	color: var(--FFFFFF, #2f2f2f);
	font-family: Helvetica Neue;
	/* font-size: 18px; */
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	/* line-height: 24px; */
	line-height: 1.33;
	/* letter-spacing: -0.18px; */
	letter-spacing: -0.06em;
	text-decoration-line: underline;
}
.page-3-description-block-link-btn a img {
	padding: 12px;
	background-color: #d0b16f;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top: -20%;
}
.logo-yellow {
	position: absolute;
	top: 0;
	left: 11px;
	z-index: 1;
}
.header-menu {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: flex-end;
	margin-top: 24px;
	margin-right: 40px;
}
.header-menu-list {
	margin-right: 15.72%;
}
.header-menu-list ul,
.header-menu-right ul {
	display: flex;
	align-items: center;
	flex-direction: row;
}
.header-menu-list ul li a,
.header-menu-right ul li a {
	color: var(--FFFFFF, #fff);

	/* Body 2 */
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.header-menu-list ul {
	column-gap: 32px;
}
.header-menu-right ul {
	column-gap: 24px;
}

#language-picker-select {
	color: var(--FFFFFF, #fff);
	outline: none;
	/* Body 2 */
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	background-color: transparent;
	border: none;
}
#language-picker-select option {
	color: #000;
}
.main-page-content {
	position: absolute;
	right: 0;
	bottom: 56px;
	max-width: 90.54%;
	padding-left: 20px;
}
.main-page-content-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.main-page-content-title {
	padding-left: 20px;
}
.main-page-content-title h1 {
	max-width: 62.5%;
	color: var(--FFFFFF, #fff);
	font-family: Panama Demo;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px; /* 109.375% */
	letter-spacing: -1.28px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.main-page-content-title img {
	margin-bottom: 24px;
}
.vertical-main-line::before {
	content: '';
	position: absolute;
	top: 0;
	left: 9.37%;
	height: 100%;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.3);
}
.main-page-content-footer-desc p {
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	max-width: 440px;
	padding-left: 20px;
}
.main-page-content-footer-address-text span {
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
	letter-spacing: -0.14px;
}
.main-page-content-footer-address-contact {
	margin-left: 22px;
}
.main-page-content-footer-address-contact span,
.main-page-content-footer-address-contact a {
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.14px;
	text-decoration: none;
}
.main-page-content-footer-address {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 40px;
}

footer {
	position: relative;
	background-color: #2f2f2f;
	min-height: 60vh;
	padding: 48px 40px 40px 40px;
}
.footer-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 60vh;
}
.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}
.footer-bottom-item span {
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.14px;
}
.footer-inner,
.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-logo {
	position: absolute;
	top: 80px;
	left: 40px;
}
.footer-inner {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.footer-inner .footer-inner-menu {
	width: 20.31rem;
	margin-top: 32px;
}
.footer-inner .footer-inner-menu .footer-inne-sub-menu li:first-child {
	color: rgba(255, 255, 255, 0.5);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.18px;
	margin-bottom: 20px;
}
.footer-inner .footer-inner-menu .footer-inne-sub-menu li,
.footer-inner .footer-inner-menu .footer-inne-sub-menu li a {
	color: var(--FFFFFF, #fff);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.18px;
	text-decoration: none;
	margin-bottom: 12px;
}

.contact-form-block {
	width: 100%;
	display: flex;
	position: absolute;
	top: 18.33%;
	left: 10.77%;
}
.contact-form-block-item:first-child {
	width: 41.66%;
}
.contact-form-block-item:last-child {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin-left: auto;
	margin-right: auto;
}
.contact-form-block-item-img {
	width: 140px;
	height: 140px;
	flex-shrink: 0;
	border-radius: 140px;
	overflow: hidden;
	margin-bottom: 36px;
}
.contact-form-block-item-wrap {
	max-width: 34.69rem;
}
.contact-form-block-item-header {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.contact-form-block-item-header h2 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: -0.8px;
	text-transform: uppercase;
}
.contact-form-block-item-header p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.18px;
	margin-bottom: 16px;
}
.contact-form-block-item-wrap form {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.contact-form-block-item-wrap form input,
.contact-form-block-item-wrap form textarea {
	color: rgba(47, 47, 47, 0.6);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;

	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
	padding: 32px 8px 16px 0;
	outline: none;
	resize: none;
}
.contact-form-block-item-wrap form input[type='submit'] {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin-top: 96px;

	background-color: #2f2f2f;
	padding: 20px 16px;
}
.contact-form-block-item-wrap form span {
	color: rgba(96, 95, 84, 0.8);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.14px;
}
.contact-form-block-item-desc p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.18px;
	margin-bottom: 16px;
	max-width: 257px;
}
.contact-form-block-item-desc a img {
	margin-left: 5px;
}
.contact-form-block-item-desc a {
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
	letter-spacing: -0.18px;
	text-decoration: none;

	display: flex;
	align-items: center;
	height: 28px;
}
.page-9-desc {
	display: flex;
	flex-direction: column;
}
.page-9-desc-items {
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
	margin-bottom: 40px;
	width: 100%;
	max-width: 440px;
	margin-right: 127px;
}
.page-9-desc-items:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.page-9-wrapper {
	display: flex;
	align-items: center;
}
.page-9-desc-items h3 {
	margin-bottom: 20px;

	color: var(--605F54, #605f54);
	font-family: Panama Demo;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 125% */
	letter-spacing: -0.64px;
	text-transform: uppercase;
}
.page-9-desc-items p {
	color: var(--605F54, #605f54);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
}
.page-9-custom-slider {
	display: flex;
}
.page-9-custom-slider-main #main_image {
	background-image: url(images/slider001.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 555px;
	height: 660px;
}
.page-9-custom-slider-small {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	row-gap: 20px;
}
.page-9-custom-slider-small-items {
	opacity: 0.4;
}
.page-9-custom-slider-small-items.active-img {
	opacity: 1;
}
.page-9-custom-slider-small-items a img {
	width: 64px;
	height: 64px;
	cursor: pointer;
}

/* Contacts page */

.contacts-page-main-wrap {
	background-color: #fefaf0;
	position: relative;
}
.logo-transparent {
	position: absolute;
	top: 0;
	left: 11px;
	width: 108px;
	/* height: 100%; */
}
.contacts-page-main-cont {
	height: 100vh;
	background-color: #fefaf0;
	padding-bottom: 156px;
}
.contacts-page-main-cont .contact-form-block {
	position: relative;
}
.contacts-page-main-cont
	.contact-form-block
	.contact-form-block-item
	.contact-form-block-item-wrap
	form
	input,
.contacts-page-main-cont
	.contact-form-block
	.contact-form-block-item
	.contact-form-block-item-wrap
	form
	textarea {
	background-color: transparent;
}
.contacts-page-main-cont
	.contact-form-block
	.contact-form-block-item
	.contact-form-block-item-wrap
	form
	input[type='submit'] {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.16px;
	margin-top: 96px;
	background-color: #2f2f2f;
	padding: 20px 16px;
}

.contacts-page-main-map-block-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Panama Demo;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px; /* 109.375% */
	letter-spacing: -1.28px;
	text-transform: uppercase;
	margin-bottom: 128px;
}
.contacts-page-main-map-block-wrap {
	max-width: 1130px;
	width: 100%;
	margin: auto;
}
.contacts-page-main-map-block-address {
	margin-bottom: 88px;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}
.contacts-page-main-map-block {
	padding-top: 64px;
}
.contacts-page-main-map-block-address-items {
	display: flex;
	flex-direction: column;
	max-width: 340px;
}
.contacts-page-main-map-block-address-items span:first-child {
	margin-bottom: 24px;
}
.contacts-page-main-map-block-address-items span {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
}
.contacts-page-main-map-block-address-items span:first-child {
	margin-bottom: 24px;
}
.contacts-page-main-wrap .header-menu .header-menu-list {
	margin-right: 21.72%;
}
.contacts-page-main-wrap .header-menu .header-menu-list ul li a,
.contacts-page-main-wrap .header-menu .header-menu-right ul li a {
	color: #000;
}
.planning-page-main-wrap .header-menu .header-menu-list ul li a,
.planning-page-main-wrap .header-menu .header-menu-right ul li a {
	color: #000;
}
.contacts-page-main-wrap .header-menu {
	background-color: #fefaf0;
	padding-top: 24px;
	padding-right: 40px;
	margin: 0;
}
.language-picker-contact-page #language-picker-select {
	color: #000;
}
/* Contacts page end */

/* Plannig page start */
.planning-page-main-block-body {
	padding-left: 40px;
	padding-bottom: 160px;
	background-color: #fefaf0;
}
.planning-page-main-block-body-text p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
	margin-bottom: 32px;
	max-width: 860px;
}
.planning-page-main-block-body-img {
	max-width: 860px;
	margin-bottom: 64px;
}
.planning-page-main-block-body-img-tripple {
	display: flex;
	column-gap: 20px;
}
.planning-page-main-block-body-img-tripple img {
	width: 31.33%;
}
.planning-page-main-block-top-left {
	padding-bottom: 87px;
	width: 100%;
}
.planning-page-main-block-top-left-top {
	display: flex;
	column-gap: 20px;
	background-color: #fefaf0;
	margin-top: 27px;
	margin-bottom: 48px;
}
.planning-page-main-block-top {
	border-top: 1px solid rgba(47, 47, 47, 0.1);
	border-bottom: 1px solid rgba(47, 47, 47, 0.1);
	margin: 0 40px;
	margin-bottom: 64px;
}
.planning-page-main-block-top-left-top a {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	text-decoration: none;
	padding: 8px 16px;
	border: 1px solid rgba(47, 47, 47, 0.2);
	width: 178px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.planning-page-main-block-top-left-top a:hover {
	background: var(--D0B16F, #d0b16f);
	color: #fff;
	border: 1px solid #fff;
}
.planning-page-main-block-top-left-top-img img {
	max-width: 566px;
	width: 100%;
}
.planning-page-main-block-top-right {
	border-left: 1px solid rgba(47, 47, 47, 0.1);
	padding-left: 21px;
}
.planning-page-main-block-top-right-wrap-btn {
	margin-bottom: 80px;
}
.planning-page-main-block-top-right-wrap-btn a {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	padding: 18px 16px;
	width: 440px;
	height: 56px;
	text-decoration: none;
	border: 1px solid var(--2F2F2F, #2f2f2f);
	display: inline-block;
	box-sizing: border-box;
}
.planning-page-main-block-top-right-wrap-btn a:hover {
	background: var(--D0B16F, #d0b16f);
	color: #fff;
	border: 1px solid #fff;
}
.planning-page-main-block-top-right-wrap-desc-item {
	width: 100%;
	max-width: 440px;
	padding: 16px 0;
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
	display: flex;
	column-gap: 20px;
	position: relative;
}
.planning-page-main-block-top-right-wrap-desc-item span {
	color: rgba(47, 47, 47, 0.5);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
	width: 160px;
}

.planning-page-main-block-top-right-wrap-desc-item p {
	overflow: hidden;
	color: var(--2F2F2F, #2f2f2f);
	text-overflow: ellipsis;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
}
.planning-page-main-block-top-wrap {
	display: flex;
	justify-content: space-between;
}
.planning-page-main-block-top-right-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin-top: 36px;
}
.accordion-wrap {
	max-width: 220px;
}
.accordion-arr {
	background-image: url(images/icons/arrtop.svg);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0;
}
.accordion-wrap .accordion {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.accordion-wrap .accordion.active .accordion-arr {
	background-image: url(images/icons/arrbottom.svg);
}

.planning-page-main-block-slider .page-9-custom-slider {
	flex-direction: column;
}
.planning-page-main-block-slider
	.page-9-custom-slider
	.page-9-custom-slider-small {
	flex-direction: row;
	margin-left: 0;
	column-gap: 20px;
	max-width: 860px;
}
/* Plannig page end */

/* photo-gallery start */

.photo-gallery-page-main-block-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Panama Demo;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px; /* 109.375% */
	letter-spacing: -1.28px;
	text-transform: uppercase;
	margin-bottom: 128px;
}
.photo-gallery-page-main-block-slider-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	margin-left: 40px;
	margin-right: 40px;
}
.photo-gallery-page-main-block-slider-top span:first-child {
	color: #000;
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
}
.photo-gallery-page-main-block-slider-top span:nth-child(2) {
	color: rgba(47, 47, 47, 0.6);
	text-align: right;
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
	letter-spacing: -0.14px;
}
.photo-gallery-page-main-block-slider {
	margin-bottom: 160px;
}
.swiper-pagination-bullets {
	display: none;
}
swiper-container::part(pagination) {
	display: none;
}
/* photo-gallery end */

/* choosing-apartment start */
.choosing-apartment-title {
	margin-bottom: 128px;
}
.choosing-apartment-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Panama Demo;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px; /* 109.375% */
	letter-spacing: -1.28px;
	text-transform: uppercase;
}
.choosing-apartment-response-body {
	margin: 0 40px;
}
/* table start*/
.choosing-apartment-page-main-block {
	padding-bottom: 160px;
}
table {
	border-collapse: collapse;
	border-spacing: 0 16px;
	width: 100%;
}

th,
td {
	padding: 16px 10px;
	text-align: left;
	border-top: 1px solid rgba(47, 47, 47, 0.2);
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}

td img {
	width: 100%;
	max-width: 96px;
	height: 80px;
}

table th:first-child {
	width: 230px;
}
table th:nth-child(2) {
	width: 115px;
}
table th:nth-child(3),
table th:nth-child(4),
table th:nth-child(5),
table th:nth-child(6) {
	width: 258px;
}

table th {
	color: rgba(47, 47, 47, 0.5);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
}

table tr td {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
}
.more-appartment {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 0;
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}
.more-appartment a {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.more-appartment a img {
	margin-left: 4px;
}
.choosing-apartment-body-filter {
	margin: 0 24px 64px 24px;
}
.choosing-apartment-body-filter-item-top {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filter-item-bedrooms-title {
	margin-bottom: 8px;
}
.filter-item-bedrooms-title span {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
}
.choosing-apartment-body-filter-item-inner {
	display: flex;
	position: relative;
	border: 1px solid rgba(47, 47, 47, 0.2);
	padding: 14px 0;
}
.choosing-apartment-body-filter-item-inner .item-inner {
	position: relative;
}
.choosing-apartment-body-filter-item-inner .item-inner label {
	position: absolute;

	left: 16px;
}
.choosing-apartment-body-filter-item-inner .item-inner input {
	height: 20px;
	box-sizing: border-box;
	background-color: transparent;
	padding-left: 41px;
	box-sizing: border-box;
	width: 100%;
	border: none;
	outline: none;
	position: relative;
}
.choosing-apartment-body-filter-item-inner .item-inner:first-child input {
	border-right: 1px solid rgba(47, 47, 47, 0.2);
}
.choosing-apartment-body-filter-item {
	max-width: 325px;
	padding: 14px 16px;
}
.choosing-apartment-body-filter-item-top span:first-child {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
}
.choosing-apartment-body-filter-item-top span:nth-child(2) {
	color: rgba(47, 47, 47, 0.5);
	text-align: right;
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
}
.filter-item-bedrooms {
	display: flex;
	column-gap: 6px;
	box-sizing: border-box;
}

.filter-item-bedrooms-inner {
	color: var(--2F2F2F, #2f2f2f);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	padding: 8px;
	border: 1px solid rgba(47, 47, 47, 0.2);
	width: 60px;
	height: 48px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.filter-item-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}

.filter-item-bottom-item-title span {
}

/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: #fefaf0;
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
	border: 1px solid rgba(47, 47, 47, 0.2);
	padding: 14px 16px;
	max-width: 325px;
	height: 48px;
	box-sizing: border-box;
	cursor: pointer;
}
.filter-item-bottom {
	margin: 0 16px;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: '';
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div {
	background-color: #fefaf0;
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover {
	background: var(--D0B16F, #d0b16f);
	color: #fff;
}
.filter-item-bottom-item-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 18px;
	margin-left: 20px;
}
.filter-item-bottom-item-second {
	width: 100%;
}
.filter-item-bottom-item-body span a img {
	margin-left: 3px;
}
.filter-item-bottom-item-body span a {
	text-decoration: none;
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
	display: flex;
	align-items: center;
}
.filter-item-bottom-item-body span {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 125% */
	letter-spacing: -0.16px;
}
.filter-item-bottom {
	display: flex;
	align-items: center;
}
.logo-transparent-about img {
	position: absolute;
	top: 24px;
}
/* table end*/
/* choosing-apartment end */

/* about page start */
.about-page {
	position: relative;
	background: var(--FEFAF0, #fefaf0);
}
.about-page-banner {
	position: relative;
	background-image: url(images/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
}
.about-page-header {
	display: flex;
	align-items: center;
	justify-content: end;
	height: 64px;
	padding-right: 40px;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
}

.about-page-banner-text {
	height: calc(100% - 64px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 170px;
}
.about-page-banner-text h2 {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Panama Demo;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 70px; /* 109.375% */
	letter-spacing: -1.28px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.about-page-banner-text p {
	color: var(--FFFFFF, #fff);
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 120% */
	letter-spacing: -0.2px;
	max-width: 440px;
	text-align: center;
}
.about-page-banner::after {
	content: '';
	width: 100%;
	max-width: 1304px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	right: 0;
	bottom: 130px;
}
.about-page-banner::before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	left: 135px;
}

.about-page-second-block {
	position: relative;
}
.about-page-second-block-left {
	margin-left: 9.29%;
	margin-right: 30px;
}
.about-page-second-block-left-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 46px; /* 115% */
	letter-spacing: -0.8px;
	text-transform: uppercase;
	margin-bottom: 251px;
}
.about-page-second-block-left-body p {
	color: var(--2F2F2F, #2f2f2f);
	text-align: justify;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
	border-top: 1px solid rgba(47, 47, 47, 0.2);
	max-width: 555px;
}
.about-page-second-block-left-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.about-page-second-block-left-bottom span {
	color: var(--605F54, #605f54);
	text-align: justify;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
}
.about-page-second-block-right img {
	width: 100%;
	max-width: 595px;
}

.about-page-second-block-wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 194px;
}

.about-page-thrid-block {
	padding-bottom: 160px;
}

.about-page-thrid-block-wrap {
	display: flex;
	justify-content: space-between;
	margin-left: 9.29%;
}

.about-page-thrid-block-wrap-left img {
	width: 100%;
	max-width: 440px;
}

.about-page-thrid-block-wrap-right img {
	width: 100%;
	max-width: 555px;
	margin-right: 40px;
}

.about-page-thrid-block-wrap-right p {
	color: var(--2F2F2F, #2f2f2f);
	text-align: justify;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
	margin-bottom: 40px;
	max-width: 440px;
}
.about-page-thrid-block-wrap-left {
	display: flex;
	align-items: center;
}

.about-page-fourth-block-wrap {
	height: 100vh;
}
.about-page-fourth-block-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 46px; /* 115% */
	letter-spacing: -0.8px;
	text-transform: uppercase;
	margin-bottom: 56px;
	margin-left: 9.29%;
}
.about-page-fourth-block-p img {
	margin-bottom: 20px;
}

.about-page-fourth-block-wrap-inner-content {
	width: 555px;
}

.about-page-fourth-block-wrap-inner-content-grid {
	/* margin-left: 9.29%; */
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 80px;
	column-gap: 100px;
	height: 340px;
}

.about-page-fourth-block-wrap-inner {
	display: flex;
	justify-content: space-between;
	padding: 0 40px 0 155px;
}
.about-page-accordion {
	background-color: #fefaf0;
	color: #444;
	cursor: pointer;
	padding: 32px 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	box-sizing: border-box;

	border-top: 1px solid rgba(47, 47, 47, 0.2);
}

.about-page-accordion:last-child {
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}

.about-page-panel {
	padding: 0 18px 32px 0;
	display: none;
	background-color: #fefaf0;
	overflow: hidden;
}
.about-page-panel p {
	background-color: #fefaf0;
	padding-bottom: 24px;
}
/* about page end */

.about-page-fifth-block-title h2,
.about-page-sixth-block-title h2,
.about-page-seven-block-title h2 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Panama Demo;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 46px; /* 115% */
	letter-spacing: -0.8px;
	text-transform: uppercase;
}

.about-page-fifth-block-wrap {
	border-top: 1px solid rgba(47, 47, 47, 0.2);
	padding-top: 40px;
	margin: 0 40px;
}

.about-page-fifth-block-text p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
	max-width: 555px;
}
.about-page-fifth-block-heading {
	display: flex;
	justify-content: space-around;
	margin-bottom: 185px;
}
.about-page-fifth-block-grid-news-items h3 {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
	margin-bottom: 5px;
}
.about-page-fifth-block-grid-news-items p {
	color: var(--2F2F2F, #2f2f2f);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
}

.about-page-fifth-block-grid-news-items {
	max-width: 330px;
}

.about-page-fifth-block-grid-news {
	display: grid;
	grid-template-columns: auto auto auto;
	row-gap: 209px;
	column-gap: 109px;
	justify-content: center;
}

.about-page-fifth-block {
	padding-bottom: 275px;
}
.about-page-seven-block-title h2 {
	padding-bottom: 80px;
	margin-left: 155px;
}

.about-page-fifth-block {
	background-color: var(--FEFAF0, #fefaf0);
}
.about-page-seven-block-wrap-download {
	padding: 0 40px;
	margin-bottom: 64px;
}
.about-page-seven-block-wrap-download-item:last-child{
	border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}
.about-page-seven-block-wrap-download-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(47, 47, 47, 0.2);
	padding: 44px 0;
}
.about-page-seven-block-wrap-download-item-left{
	display: flex;
	align-items: center;
}
.about-page-seven-block-wrap-download-item-left img {
	width: 80px;
	height: 80px;
	margin-right: 35px;
}
.about-page-seven-block-wrap-download-item-right a img{
	margin-left: 20px;
	width: 40px;
	height: 40px;
}
.about-page-seven-block-wrap-download-item-right a{
	display: flex;
	align-items: center;

	color: var(--2F2F2F, #2F2F2F);
	text-align: right;
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
	text-decoration-line: underline;
}

.download-all-documents a{
	color: var(--2F2F2F, #2F2F2F);
	font-family: Helvetica Neue;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 133.333% */
	letter-spacing: -0.18px;
	display: flex;
    align-items: center;
    justify-content: center;
		text-decoration: none;
}
.download-all-documents a img{
	margin-left: 22px;
	width: 40px;
	height: 40px;
}

.about-page-sixth-block-title h2{
	margin-left: 155px;
	margin-bottom: 80px;
}

.swiper-slide-title h3{
	color: var(--2F2F2F, #2F2F2F);
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 137.5% */
	letter-spacing: -0.16px;
	margin-bottom: 24px;
}


.arrows-swiper{
	display: none;
}


.page-8-wrapper-top h3{
	color: var(--2F2F2F, #2F2F2F);
font-family: Panama Demo;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 46px; /* 115% */
letter-spacing: -0.8px;
text-transform: uppercase;
margin-left: 14%;
}
.page-8-wrapper-top h4{
	color: var(--2F2F2F, #2F2F2F);
font-family: Helvetica Neue;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: -0.18px;
max-width: 245px;
}
.page-8-wrapper-top a{
	color: var(--2F2F2F, #2F2F2F);
text-align: right;
font-family: Helvetica Neue;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: -0.18px;
text-decoration-line: underline;
display: flex;
    align-items: center;
		padding-right: 40px;
}
.page-8-wrapper-top a img{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}
.page-8{
	align-items: baseline!important;
}
.page-8-wrapper{
	width: 100%;
}
.page-8-wrapper-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	width: 100%;
	margin-bottom: 48px;
}
.page-8-wrapper-slider{
	padding-top: 80px;
	border-top: 1px solid rgba(47, 47, 47, 0.20);
	margin: 0 40px 0 40px;
}

.cover-arr{
	height: 148px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}
 .arrow.arrow-left {
	margin-right: 90px;
    margin-top: auto;
	/* position: absolute;
  left: 0; */
}
 .arrow.arrow-right {
	margin-top: auto;
	/* position: absolute;
  right: 0; */
}

/* 1200 */
@media (max-width: 75em) {
	.footer-inner .footer-inner-menu {
		width: 14.625rem;
	}
	.footer-inner {
		column-gap: 30px;
		flex-wrap: wrap;
	}
	.contact-form-block-item-header h2 {
		font-size: 30px;
	}
	.contact-form-block-item:last-child {
		width: 35%;
	}
}
/* 992 */
@media (max-width: 62em) {
	.page-4-description-block-desc h3 {
		font-size: 1.625rem;
	}
	.page-4-description-block-desc {
		max-width: 18.625rem;
	}
	.footer-inner .footer-inner-menu {
		width: 35%;
	}
	.contact-form-block-item-wrap form input[type='submit'] {
		margin-top: auto;
	}
	.contact-form-block-item-header h2 {
		font-size: 24px;
		line-height: 28px;
	}
	.contact-form-block-item-wrap form input,
	.contact-form-block-item-wrap form textarea {
		padding: 14px 8px 16px 0;
	}
}
/* 768 */
@media (max-width: 48em) {
	.page-5-discription h2,
	.page-6-discription h2,
	.page-7-discription h2 {
		font-size: 2.5rem;
	}
	.page-5-discription p,
	.page-6-discription p,
	.page-7-discription p {
		font-size: 1.12rem;
	}
	.page-4-image-block {
		display: none;
	}
	.page-4-description-block {
		width: 100%;
	}
	footer,
	.footer-wrapper {
		height: 100%;
	}
	.footer-bottom {
		flex-direction: column;
		row-gap: 15px;
	}
	.footer-inner {
		flex-direction: column;
		align-items: center;
	}
	.footer-inner .footer-inner-menu {
		width: 100%;
		text-align: center;
	}
	.footer-logo {
		position: relative;
		top: 30px;
		left: 0;
		margin-bottom: 30px;
	}
	.contact-form-block {
		flex-direction: column-reverse;
		align-items: center;
	}
	.contact-form-block-item:first-child {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contact-form-block-item:last-child {
		width: 100%;
		align-items: center;
		margin-bottom: 35px;
	}
	.contact-form-block {
		top: 5%;
		left: auto;
	}
	.contact-form-block-item-wrap {
		padding: 0 15px;
	}
	.logo {
		display: none;
	}
}